{% extends 'tem.html' %}

{% block title %}
创建
{% endblock %}

{% block css %}
div, h1{
            text-align: center;
        }
        h1{
            margin-top: 60px;
        }
        input{
            margin: 10px;
        }
        table{
            margin: auto;
        }
        table th{
            margin: 0, 10px;
            width: 100px;
        }
{% endblock %}

{% block content %}

    <div>
        <h1>数据库操作</h1>
        <p>
            <div>请新建用户</div>
        </p>
        <p>
            <form action="/app/model/" method="post">
                <input type="text" name="user" placeholder="请输入用户名">
                <br>
                <input type="password" name="pwd" placeholder="请输入密码">
                <br>
                <select name="dep_id">
                    {% for i in dep%}
                        <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="提交">
            </form>
        </p>
        <p>
            <table>
                <tr>
                    <th>id</th>
                    <th>姓名</th>
                    <th>密码</th>
                    <th>日期</th>
                    <th>部门</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                {% for user in obj %}
                    <tr>
                        <th>{{ user.id }}</th>
                        <th>{{ user.name }}</th>
                        <th>{{ user.password }}</th>
                        <th>{{ user.time }}</th>
                        <th>{{ user.department.name }}</th>
                        <th><a href="/app/model/edit/{{user.id}}">编辑</a></th>
                        <th><a href="/app/model/delete/{{user.id}}">删除</a></th>
                    </tr>
                {% endfor %}
            </table>
        </p>
    </div>
{% endblock %}
